<div class="page-header">
  <h2><%= @week %></h2>
</div>

<p>
  <strong>Start:</strong>
  <%= @week.start_date %>
</p>

<p>
  <strong>End:</strong>
  <%= @week.end_date %>
</p>


<div class="btn-group">
  <%= link_to 'Edit', edit_week_path(@week), class: 'btn btn-primary' %>
  <%= link_to 'List all', weeks_path, class: 'btn btn-default' %>
</div>
