<% content_for :js do %>
  <%= javascript_include_tag 'entry' %>
<% end %>

<%= form_for(@entry) do |f| %>
  <% render partial: 'layouts/errors', locals: { record: @entry } %>

  <div class="form-group">
    <%= f.label :week_id, class: 'control-label' %>
    <%= f.collection_select :week_id, @weeks, :id, :to_s, {include_blank: 'Select a week'}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :entry_type, class: 'control-label' %>
    <%= f.select :entry_type, @types.keys.map {|type| [type.titleize,type]}, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, class: 'control-label' %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="form-group" id="date" style="display: none">
    <%= f.label :date, class: 'control-label' %>
    <%= f.date_field :date, value: @entry.date, 'data-date-format' => 'mm/dd/yyyy', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :value, class: 'control-label' %>
    <%= f.text_field :value, class: 'form-control price' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
